// colors
$color-white: white;
$color-black: black;
$color-base: black;
// Typography
$font-primary: "Open Sans", sans-serif;
$font-secondary: Tahoma, Geneva, sans-serif;
$font-heading: $font-primary;
// containers
$container-default: 110rem;
$container-large: 140rem;
$container-medium: 62.5rem;
$container-small: 70rem;
$container-gutter: 2.4rem;
