@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-60rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes upDown {
  0% {
    opacity: 0;
    transform: translateY(90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateY(60rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes downUp {
  0% {
    opacity: 0;
    transform: translateY(-90rem);
  }
  75% {
    opacity: 0.75;
    transform: translateY(-60rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes comeInQuick {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
